@media screen and (max-width: 900px) {
  .gnav-button {
    height: 120px;
    border-top: solid 1px orange;
  }
  .gnav-button_image {
    padding-top: 40px;
  }
  .gnav-button_on {
    width: 350px;
    height: 100%;
  }
  .mainMovieSection-wrapper {
    width: 100%;
  }
  .playedgamelist-flex_iframe {
    width: 100%;
  }
  .playedgamelist-flex_iframe iframe {
    width: 100%;
    height: 600px;
  }
}

@media screen and (max-width: 768px) {
  .mainflex1 {
    margin-bottom: 100px;
  }
  .pcSpec-list {
    display: block;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .pcSpec-description {
    width: 100%;
  }
  .pcSpec-img {
    width: 100%;
    margin-top: 30px;
  }
  .historyList-li {
    margin-bottom: 30px;
  }
  .historyList-li_date {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  header {
    width: 300px;
  }
  .toptitle {
    font-size: 28px;
  }
  .zisaku-img {
    left: 70px;
  }
  .mainflex2 {
    width: 80%;
  }
  .amazlet-box {
    display: block;
  }
  .amazlet-info {
    padding: 5px;
  }
}
